@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: SFLightFont;
  src: url(/assets/fonts/SF-Pro-Display-Light.woff);
}
@font-face {
  font-family: SFRegularFont;
  src: url(/assets/fonts/SF-Pro-Display-Regular.woff);
}
@font-face {
  font-family: SFMediumFont;
  src: url(/assets/fonts/SF-Pro-Display-Medium.woff);
}
@font-face {
  font-family: SFSemiBoldFont;
  src: url(/assets/fonts/SF-Pro-Display-Semibold.woff);
}
@font-face {
  font-family: SFBoldFont;
  src: url(/assets/fonts/SF-Pro-Display-Bold.woff);
}
/* Hover Transistion */
/* Custom scroll Bar */
/* Custom scroll Bar Inner */
/* Custom scroll Bar Inner */
/* Splash Section */
.splash_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  width: 100%;
  height: calc(100vh - 40px);
}
.splash_wrapper h3 {
  color: #7741fb;
  font-family: SFBoldFont;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0.4px;
}

/* Login Section */
.login_wrapper {
  padding-top: 16px;
}
.login_wrapper .img {
  position: relative;
  text-align: center;
  height: 380px;
}
.login_wrapper .img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
}
.login_wrapper .content {
  margin-top: 40px;
  text-align: center;
}
.login_wrapper .content h3 {
  color: #000;
  font-family: SFBoldFont;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.login_wrapper .content h4 {
  color: #525252;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 18px;
}
.login_wrapper .login-pagination {
  margin-top: 48px;
}
.login_wrapper .sing_up_btn {
  margin-top: 17px;
}

/* Sign Up Onboard Section */
.sing_up_onboard_wrapper {
  margin-top: 49px;
}
.sing_up_onboard_wrapper .page_inner_title {
  margin-bottom: 44px;
}
.sing_up_onboard_wrapper .login_btn {
  margin-top: 39px;
}

/* Login Form Section */
.login_form_wrapper .page_inner_title {
  margin-top: 41px;
}
.login_form_wrapper h4 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 16px;
}
.login_form_wrapper h4 a {
  font-family: SFBoldFont;
  font-weight: 700;
  position: relative;
}
.login_form_wrapper h4 a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.87);
}
.login_form_wrapper .form_area {
  margin-top: 26px;
}
.login_form_wrapper .or {
  color: #000;
  text-align: center;
  font-family: SFMediumFont;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 26px;
  margin-bottom: 24px;
}
.login_form_wrapper .others_option_item {
  display: grid;
  grid-template-columns: minmax(0, 24px) repeat(1, minmax(0, 1fr));
  align-items: center;
  gap: 12px 16px;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #d6dfd5 !important;
  width: 100%;
  margin-bottom: 16px;
}
.login_form_wrapper .others_option_item span {
  display: block;
  color: #02021d;
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: SFSemiBoldFont;
  font-size: 16px;
  font-style: normal;
  font-weight: 590;
  letter-spacing: -0.31px;
  width: 100%;
}
.login_form_wrapper .as_guest {
  color: #818181;
  text-align: center;
  font-family: SFMediumFont;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 24px;
}
.login_form_wrapper .as_guest a,
.login_form_wrapper .as_guest button {
  color: #000;
}

/* Forget Password Section */
.forget_password_wrapper .page_inner_title {
  margin-top: 24px;
}
.forget_password_wrapper .page_inner_para {
  margin-top: 16px;
  margin-bottom: 42px;
}

/* Account Success Section */
.account_success_wrapper .success_img {
  position: relative;
  text-align: center;
  height: 380px;
}
.account_success_wrapper .success_img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 360px;
  width: 100%;
  max-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.account_success_wrapper .page_inner_title {
  margin-top: 77px;
}
.account_success_wrapper.account_success_sign_wrapper .success_img {
  height: 426px;
}
.account_success_wrapper.account_success_sign_wrapper .success_img img {
  max-width: 393px;
  width: 100%;
}
.account_success_wrapper.account_success_sign_wrapper .page_inner_title {
  margin-top: 107px;
}
.account_success_wrapper.account_success_sign_wrapper .login_btn {
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  width: 100%;
}

/* Sing Up Form Section */
.sing_up_form_wrapper .page_inner_title {
  margin-top: 17px;
}
.sing_up_form_wrapper .form_area {
  margin-top: 40px;
}
.sing_up_form_wrapper .login_btn {
  margin-top: 19px;
}

/* Google Sign Up Section */
.google_sign_up_wrapper .user_image_area {
  position: relative;
  width: 100px;
  height: 100px;
  margin-top: 24px;
}
.google_sign_up_wrapper .user_image_area .user_img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #976dff;
}
.google_sign_up_wrapper .user_image_area .change_icon {
  position: absolute;
  right: 0;
  bottom: 4px;
}
.google_sign_up_wrapper .status_area {
  padding: 16px;
  border-radius: 12px;
  background: #F4F5F6;
}

/* Section */
/* Section */
/* Section */
/* Section */
.swiper {
  width: 100%;
}

.login-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}
.login-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0 !important;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  background-color: #9d9d9d;
}
.login-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #000;
}

.login_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7px;
  color: white;
  font-family: SFSemiBoldFont;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px;
  width: 100%;
  height: 56px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: #7741fb;
}

.sing_up_btn {
  color: #9d9d9d;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sing_up_btn a {
  font-weight: 500;
  color: #7741fb;
}

.page_back_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  width: 40px;
  height: 40px;
  border-radius: 14px;
  background: #eeeeec;
}

.page_inner_title {
  color: #000;
  font-family: SFBoldFont;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.page_title {
  color: #7741fb;
  font-family: SFBoldFont;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0.4px;
}

.page_inner_para {
  font-family: SFRegularFont;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.radio_item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 69px;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 10px 24px;
  border: 2px solid rgba(0, 0, 0, 0.12);
  background: #fff;
  margin-bottom: 12px;
}
.radio_item .form-check {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr)) minmax(0, 24px);
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 0;
}
.radio_item .form-check-label {
  color: #000;
  font-feature-settings: "liga" off, "clig" off;
  font-family: SFSemiBoldFont;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.45px;
}

.color_radio_btn .form-check-input {
  position: relative;
  width: 18px;
  height: 18px;
  float: none;
  margin: 0;
  border: 2px solid #b3b3b3;
}
.color_radio_btn .form-check-input::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 11px;
  height: 11px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: transparent;
}
.color_radio_btn .form-check-input:focus {
  border: none !important;
}
.color_radio_btn .form-check-input:checked {
  border: 2px solid #7741fb !important;
  background: transparent;
}
.color_radio_btn .form-check-input:checked::after {
  background-color: #7741fb;
}

.form_area .input_row {
  margin-bottom: 20px;
}
.form_area .input_row .form_label {
  display: block;
  color: #171717;
  font-family: SFMediumFont;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 8px;
}
.form_area .input_row .input_field {
  color: #313131;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 18px 20px;
  height: 55px;
  width: 100%;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border: 1px solid #ededed;
  background: #fbfbfb;
}
.form_area .password_area {
  position: relative;
}
.form_area .password_area .input_field {
  padding-right: 48px;
}
.form_area .password_area.password_active .eye_open {
  display: none;
}
.form_area .password_area.password_active .eye_close {
  display: block;
}
.form_area .password_btn_area {
  position: absolute;
  top: 14px;
  right: 15px;
}
.form_area .password_btn_area img {
  width: 20px;
  color: #6e7281;
}
.form_area .password_btn_area .eye_close {
  display: none;
}
.form_area .form_status {
  color: rgba(132, 126, 126, 0.8431372549);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 6px;
}
.form_area .form_status.error {
  color: rgb(230, 48, 48);
}
.form_area .form_status.success {
  color: #5ae375;
}
.form_area .remember_area .form-check-input {
  float: none;
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border: 3px solid #666666;
}
.form_area .remember_area .form-check-input:focus {
  border: 3px solid #666666 !important;
}
.form_area .remember_area .form-check-label,
.form_area .remember_area .forget_password {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
}
.form_area .remember_area .forget_password {
  position: relative;
  position: relative;
}
.form_area .remember_area .forget_password::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.87);
}
.form_area .terms_checkbox_area {
  margin-top: 39px;
}
.form_area .terms_checkbox_area .form-check {
  display: grid;
  grid-template-columns: minmax(0, 20px) repeat(1, minmax(0, 1fr));
  align-items: start;
  gap: 10px;
}
.form_area .terms_checkbox_area .form-check-input {
  border: 1px solid #9b9b9b;
}
.form_area .terms_checkbox_area .form-check-input:focus {
  border: 1px solid #9b9b9b !important;
}
.form_area .terms_checkbox_area .form-check-label {
  margin-top: -1px;
}
.form_area .terms_checkbox_area .form-check-label a,
.form_area .terms_checkbox_area .form-check-label span {
  display: inline;
}
.form_area .terms_checkbox_area .form-check-label span {
  color: #888;
}
.form_area .login_btn {
  margin-top: 24px;
}
.form_area .otp_input_area {
  background-color: white;
}
.form_area .fake-inputs {
  gap: 6px;
}
.form_area .fake-inputs .otp-fake-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  margin: 0 !important;
  border: 1px solid #ededed;
  border-radius: 12px !important;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  -ms-border-radius: 12px !important;
  -o-border-radius: 12px !important;
  background: #fbfbfb;
}
.form_area .fake-inputs .otpdesigner__focus__ {
  border-color: #7741fb;
}
.form_area .fake-inputs .otp-content {
  color: #313131;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form_area .sing_up_top_area .fake-inputs .otp-fake-input {
  width: 55px;
  height: 77px;
  border-radius: 8px !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
}

.telephone_int_area .iti {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}
@media all and (max-width: 767px) {
  .telephone_int_area .iti {
    transition: 0.5s;
    gap: 12px;
  }
}
.telephone_int_area .iti__selected-country-primary {
  padding-left: 0;
}
.telephone_int_area .iti__selected-country {
  justify-content: center;
  height: 55px;
  width: 106px;
  border-radius: 12px;
  border: 1px solid #ededed !important;
  background: #fbfbfb;
}
.telephone_int_area .iti__selected-country .iti__selected-dial-code {
  color: #313131;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.telephone_int_area .iti__country-container {
  position: static;
}
.telephone_int_area .iti__tel-input {
  padding: 20px 18px !important;
}
.telephone_int_area .iti__dropdown-content {
  width: 100% !important;
}
.telephone_int_area .iti__dropdown-content .iti__search-input {
  font-size: 14px;
  height: 36px;
  border: 1px solid #d7d7d7;
}
.telephone_int_area .iti__arrow {
  border: none;
  border-bottom: 2px solid #a8a4a4;
  border-right: 2px solid #a8a4a4;
  content: "";
  display: block;
  height: 8px;
  top: 50%;
  transform-origin: 66% 66%;
  transform: rotate(45deg);
  transition: all 0.15s ease-in-out;
  width: 8px;
}
.telephone_int_area .iti__country-list {
  overflow-y: scroll;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.telephone_int_area .iti__country-list::-webkit-scrollbar {
  width: 5px;
}
.telephone_int_area .iti__country-list::-webkit-scrollbar-track {
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
}
.telephone_int_area .iti__country-list::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 5px;
}
.telephone_int_area .iti__country-list::-webkit-scrollbar-thumb:hover {
  background: #f84f4f;
  cursor: grab;
}

.custom_switch_area {
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}
.custom_switch_area .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.custom_switch_area .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.custom_switch_area .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.custom_switch_area .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
.custom_switch_area input:checked + .slider {
  background-color: #2196F3;
}
.custom_switch_area input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.custom_switch_area input:checked + .slider:before {
  transform: translateX(26px);
}
.custom_switch_area .slider.round {
  border-radius: 34px;
}
.custom_switch_area .slider.round:before {
  border-radius: 50%;
}

.back_btn_grid {
  display: grid;
  grid-template-columns: minmax(0, 40px) repeat(1, minmax(0, 1fr));
  align-items: center;
  gap: 10px;
}
.back_btn_grid h3 {
  color: #000;
  text-align: center;
  font-family: SFMediumFont;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 40px;
}

/*
!Utilities Or Helper CSS
*/
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  padding: 16px 24px 24px 24px;
  background-color: white;
  font-family: SFRegularFont;
  font-size: 16px;
  overflow-y: auto;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #f84f4f;
  cursor: grab;
}

html,
body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: SFRegularFont;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

img,
svg {
  max-width: 100%;
}

a {
  color: unset;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

a,
span {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

:focus {
  outline: none !important;
}

input,
select,
textarea {
  font-weight: 400;
  font-size: 16px;
  color: #101010;
}

input:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #7741fb !important;
}

textarea:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

button {
  cursor: pointer;
  border: none !important;
  background-color: transparent;
}

button:hover {
  border: none !important;
}

*::-moz-placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 400;
  line-height: normal;
}

*::placeholder,
*::-moz-placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 400;
  line-height: normal;
}

::-moz-selection {
  color: rgb(255, 255, 255);
  background: rgb(159, 4, 255);
}

::selection,
::-moz-selection {
  color: rgb(255, 255, 255);
  background: rgb(159, 4, 255);
}

/*  Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Common Class */
@media all and (max-width: 575px) {
  .container {
    transition: 0.5s;
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}

.d-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 7px 12px;
}

.g-sm {
  gap: 8px 12px;
}

.g-lg {
  gap: 10px 15px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-12 {
  margin-top: 12px;
}

.pt-12 {
  padding-top: 12px;
}

.h-full-screen {
  min-height: calc(100vh - 40px);
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

@media all and (max-width: 767px) {
  .mm-30 {
    transition: 0.5s;
    margin-top: 30px;
  }
}

@media all and (max-width: 991px) {
  .mlg-30 {
    transition: 0.5s;
    margin-top: 30px;
  }
}

.default_section_gap {
  margin-top: 80px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .default_section_gap {
    transition: 0.5s;
    margin-top: 60px;
  }
}
@media all and (max-width: 767px) {
  .default_section_gap {
    transition: 0.5s;
    margin-top: 50px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  display: none;
}

.desktop_content_area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  width: 100%;
  height: calc(100vh - 40px);
}
.desktop_content_area h3 {
  font-family: SFBoldFont;
  color: #000;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.desktop_content_area h4 {
  font-family: SFMediumFont;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main_content_area {
  display: none;
}

/* Portrait mode: Default mobile layout */
@media (max-width: 767px) and (orientation: portrait) {
  .main_content_area {
    display: block;
  }
  .desktop_content_area {
    display: none !important;
  }
}
/* Horizontal/Landscape mode for mobile devices */
@media (max-width: 1100px) and (orientation: landscape) {
  .main_content_area {
    display: block;
  }
  .desktop_content_area {
    display: none !important;
  }
  .horizontal-m-w {
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}/*# sourceMappingURL=style.css.map */