/*
!Utilities Or Helper CSS
*/

*,
::before,
::after {
  box-sizing: border-box;
}
body {
  padding: $bodyTopSpace $bodyLeftSpace $bodyRightSpace $bodyBottomSpace;
  background-color: $body-bg;
  font-family: $body-font-family;
  font-size: $font-size-base;
  min-height: $fullScreenHeight;
  @include customScrollbar();
}
html,
body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $primary-font;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}
img,
svg {
  max-width: 100%;
}

a {
  color: unset;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
a,
span {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

:focus {
  outline: none !important;
}
input,
select,
textarea {
  font-weight: 400;
  font-size: 16px;
  color: #101010;
}
input:focus,
select:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #7741fb !important;
}

textarea:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

button:focus {
  outline: none;
  box-shadow: none;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
  &:disabled {
    color: #000 !important;
    background-color: #8a8e95 !important;
  }
}

button:hover {
  border: none;
}

*::placeholder,
*::-moz-placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 400;
  line-height: normal;
}

::selection,
::-moz-selection {
  color: rgb(255, 255, 255);
  background: rgb(159, 4, 255);
}

// Hide input number type right icon

/*  Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Common Class */
.container {
  @include max-media-width(575) {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}
.d-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 7px 12px;
}
.text-black {
  color: #000;
}
.text-f00 {
  color: #f00 !important;
}
.g-smm {
  gap: 10px 8px;
}
.g-sm {
  gap: 8px 12px;
}
.g-lg {
  gap: 10px 15px;
}
.mt-32 {
  margin-top: 32px !important;
}
.mt-24 {
  margin-top: 24px;
}
.mtm-24 {
  margin-top: 24px !important;
}
.mrn-24 {
  margin-right: -$bodyRightSpace;
}
.mr-24 {
  margin-right: $bodyRightSpace;
}
.mt-12 {
  margin-top: 12px;
}
.mt-16 {
  margin-top: 16px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-12 {
  padding-top: 12px;
}
.pt-16 {
  padding-top: 16px;
}
.pr-24 {
  padding-right: $bodyRightSpace;
}
.pb-12 {
  padding-bottom: 12px;
}
.max-h-100 {
  max-height: 100% !important;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.h-full-screen {
  min-height: calc($fullScreenHeight - $fullHeightRemove);
}
.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.mm-30 {
  @include max-media-width(767) {
    margin-top: 30px;
  }
}
.mlg-30 {
  @include max-media-width(991) {
    margin-top: 30px;
  }
}
.text-line-clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.bg_color {
  background-color: #f4f4f4;
}
.header_bottom_space {
  padding-bottom: 80px;
}

.default_section_gap {
  margin-top: 80px;
  @include media-break-width(768, 991) {
    margin-top: 60px;
  }
  @include max-media-width(767) {
    margin-top: 50px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 501;
  display: none;
}

//Desktop content
.desktop_content_area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  width: 100%;
  height: calc($fullScreenHeight - $fullHeightRemove);
  h3 {
    font-family: SFBoldFont;
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  h4 {
    font-family: SFMediumFont;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

//Responsive
.main_content_area {
  display: none;
}
/* Portrait mode: Default mobile layout */
@media (max-width: 767px) and (orientation: portrait) {
  // body{
  //   background-color: red;
  // }
  .main_content_area {
    display: block;
  }
  .desktop_content_area {
    display: none !important;
  }
}

/* Horizontal/Landscape mode for mobile devices */
@media (max-width: 1100px) and (orientation: landscape) {
  // body{
  //   background-color: blue;
  // }
  .main_content_area {
    display: block;
  }
  .desktop_content_area {
    display: none !important;
  }
  .horizontal-m-w {
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
