// Typography
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

//Light font 300
@font-face {
  font-family: SFLightFont;
  src: url(/assets/fonts/SF-Pro-Display-Light.woff);
}

//Regular font 400
@font-face {
  font-family: SFRegularFont;
  src: url(/assets/fonts/SF-Pro-Display-Regular.woff);
}

//Medium font 500
@font-face {
  font-family: SFMediumFont;
  src: url(/assets/fonts/SF-Pro-Display-Medium.woff);
}

//Medium font 600
@font-face {
  font-family: SFSemiBoldFont;
  src: url(/assets/fonts/SF-Pro-Display-Semibold.woff);
}

//Medium font 700
@font-face {
  font-family: SFBoldFont;
  src: url(/assets/fonts/SF-Pro-Display-Bold.woff);
}

$primary-font: SFRegularFont;
$body-font-family: $primary-font;

$font-size-base: 16px;
