// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors
$body-bg: white;
$fullHeightRemove: 40px;
$bodyTopSpace: 16px;
$bodyLeftSpace: 24px;
$bodyRightSpace: 24px;
$bodyBottomSpace: 24px;
$bodyLeftRightSpace: 48px;
$bodyLeftRightSingleSpace: 24px;
