.login_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7px;
  color: white;
  font-family: SFSemiBoldFont;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px;
  width: 100%;
  height: 56px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: #7741fb;
}

.sing_up_btn {
  color: #9d9d9d;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  a {
    font-weight: 500;
    color: #7741fb;
  }
}

.page_back_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  width: 40px;
  height: 40px;
  border-radius: 14px;
  background: #eeeeec;
}
