//Radio Item
.radio_item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 69px;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 10px 24px;
  border: 2px solid rgba(0, 0, 0, 0.12);
  background: #fff;
  margin-bottom: 12px;
  .form-check {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr)) minmax(0, 24px);
    align-items: center;
    gap: 12px;
    width: 100%;
    padding: 0;
  }

  .form-check-label {
    color: #000;
    font-feature-settings: "liga" off, "clig" off;
    font-family: SFSemiBoldFont;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.45px;
  }
}

.color_radio_btn {
  .form-check-input {
    position: relative;
    width: 18px;
    height: 18px;
    float: none;
    margin: 0;
    border: 2px solid #b3b3b3;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      width: 11px;
      height: 11px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      background-color: transparent;
    }
    &:focus {
      border: none !important;
    }
    &:checked {
      border: 2px solid #7741fb !important;
      background: transparent;
      &::after {
        background-color: #7741fb;
      }
    }
  }
}

//Form Area
.form_area {
  .input_row {
    margin-bottom: 20px;
    .form_label {
      display: block;
      color: #171717;
      font-family: SFMediumFont;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 8px;
    }
    .input_field {
      color: #313131;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 18px 20px;
      height: 55px;
      width: 100%;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px;
      border: 1px solid #d9d9d9;
      background: #fbfbfb;
      &:disabled {
        background: #d2cfcf !important;
      }
    }
    textarea {
      &.input_field {
        height: auto;
      }
    }
  }
  .password_area {
    position: relative;
    .input_field {
      padding-right: 48px;
    }
    &.password_active {
      .eye_open {
        display: none;
      }
      .eye_close {
        display: block;
      }
    }
  }
  .password_btn_area {
    position: absolute;
    top: 14px;
    right: 15px;
    img {
      width: 20px;
      color: #6e7281;
    }
    .eye_close {
      display: none;
    }
  }
  .seachable_input_row {
    .input_field {
      padding-right: 34px !important;
    }
    .search_btn {
      position: absolute;
      top: 14px;
      right: 14px;
    }
    .suggestion_list {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      padding: 18px 19px;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      border: 1.5px solid #dfdfdf;
      background: #fff;
      box-shadow: 0px 15px 21.4px 0px rgba(0, 0, 0, 0.12);
      min-height: 150px;
      max-height: 250px;
      @include customScrollbarInner();
      li {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr)) minmax(0, 50px);
        align-items: start;
        gap: 10px;
        &:not(:first-child) {
          margin-top: 18px;
        }
      }
      h4,
      button {
        font-family: SFMediumFont;
        color: #111;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .added {
        color: #7741fb;
      }
    }
  }
  .form_status {
    display: flex;
    align-items: start;
    flex-wrap: nowrap;
    gap: 5px;
    color: #847e7ed7;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 6px;
    &.error {
      color: rgb(230, 48, 48);
    }
    &.success {
      color: #5ae375;
    }
  }
  .remember_area {
    .form-check-input {
      float: none;
      margin: 0;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border: 3px solid #666666;
      &:focus {
        border: 3px solid #666666 !important;
      }
    }
    .form-check-label,
    .forget_password {
      cursor: pointer;
      color: rgba(0, 0, 0, 0.87);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.15px;
    }
    .forget_password {
      position: relative;
      @include underLineBorder();
    }
  }
  .terms_checkbox_area {
    margin-top: 39px;
    .form-check {
      display: grid;
      grid-template-columns: minmax(0, 20px) repeat(1, minmax(0, 1fr));
      align-items: start;
      gap: 10px;
    }
    .form-check-input {
      border: 1px solid #9b9b9b;
      &:focus {
        border: 1px solid #9b9b9b !important;
      }
    }
    .form-check-label {
      margin-top: -1px;
      a,
      span {
        display: inline;
      }
      span {
        color: #888;
      }
    }
  }
  .send_otp_text {
    display: block;
    text-align: center;
    color: #7741fb;
    font-family: SFBoldFont;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    margin-top: 12px;
  }
  .login_btn {
    margin-top: 24px;
  }
  .otp_input_area {
    background-color: white;
  }
  .two_grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: start;
    gap: 0px 16px;
  }

  .fake-inputs {
    gap: 6px;
    .otp-fake-input {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 55px;
      height: 55px;
      margin: 0 !important;
      border: 1px solid #ededed;
      border-radius: 12px !important;
      -webkit-border-radius: 12px !important;
      -moz-border-radius: 12px !important;
      -ms-border-radius: 12px !important;
      -o-border-radius: 12px !important;
      background: #fbfbfb;
    }
    .otpdesigner__focus__ {
      border-color: #7741fb;
    }
    .otp-content {
      color: #313131;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .sing_up_top_area {
    .fake-inputs {
      .otp-fake-input {
        width: 55px;
        height: 77px;
        border-radius: 8px !important;
        -webkit-border-radius: 8px !important;
        -moz-border-radius: 8px !important;
        -ms-border-radius: 8px !important;
        -o-border-radius: 8px !important;
      }
    }
  }
  .input_field_div {
    position: relative;
    text-align: center;
    padding-right: 50px !important;
    background: #e1e1e1 !important;
    h4 {
      color: #02021d;
      font-family: SFMediumFont;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .camera_icon {
      position: absolute;
      top: 16px;
      right: 20px;
      img {
        max-width: 20px;
      }
    }
  }
  .input_left_icon_area {
    position: relative;
    .input_field {
      padding-left: 56px !important;
    }
  }
  .input_icons_left {
    position: absolute;
    top: 16px;
    left: 20px;
  }

  &.job_post_form_area {
    .input_row {
      .input_field {
        font-size: 18px !important;
        font-weight: 600 !important;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        border: 1.5px solid #eaeaea;
        background: white;
      }
    }
    ::placeholder {
      font-size: 16px !important;
      font-weight: 400 !important;
      color: #b5b5b5 !important;
    }
  }
}

//Custom switch
.custom_switch_area {
  .switch {
    position: relative;
    display: inline-block;
    width: 51px;
    height: 31px;
    padding: 2px 2px 2px 22px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 27px;
    width: 27px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.04),
      0px 3px 8px 0px rgba(0, 0, 0, 0.15), 0px 3px 1px 0px rgba(0, 0, 0, 0.06);
  }

  input:checked + .slider {
    background-color: #7741fb;
  }

  input:checked + .slider:before {
    transform: translateX(19px);
    -webkit-transform: translateX(19px);
    -moz-transform: translateX(19px);
    -ms-transform: translateX(19px);
    -o-transform: translateX(19px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
  &.custom_switch_red {
    input:checked + .slider {
      background-color: #ef5da8;
    }
  }
}

//Attache area
.attach_file_area {
  display: grid;
  grid-template-columns: minmax(0, 30px) repeat(1, minmax(0, 1fr));
  align-items: center;
  gap: 12px;
  padding: 10px;
  height: 73px;
  width: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 1.5px dashed #827373;
  @include hover-transition();
  background: #fff;
  &.drag_active {
    border: 1.5px dashed #50a92f !important;
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
  }
  img {
    max-width: 30px;
  }
  h4 {
    font-family: SFMediumFont;
    color: #111;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  h6 {
    font-family: SFMediumFont;
    color: rgba(128, 128, 128, 0.55);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 2px;
  }
}
.attach_file_area,
.file_uploaded_area .upload_grid {
  h4 {
    font-family: SFMediumFont;
    color: #111;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  h6 {
    font-family: SFMediumFont;
    color: rgba(128, 128, 128, 0.55);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 2px;
  }
  h4,
  h6 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.file_uploaded_area {
  margin-top: 21px;
  h3 {
    color: rgba(128, 128, 128, 0.55);
    font-family: SFMediumFont;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 11px;
  }
  .upload_grid {
    display: grid;
    grid-template-columns: minmax(0, 41px) repeat(1, minmax(0, 1fr)) minmax(
        0,
        70px
      );
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
    &.remove_delete_btn_grid {
      grid-template-columns: minmax(0, 41px) repeat(1, minmax(0, 1fr));
    }
  }
}

//Date range
.date_range_area {
  h4 {
    color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
  }
  .range_area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 12px 16px;
    border-radius: 12px;
    border: 1px solid #ededed;
    background: #fff;
    span {
      color: #000;
      font-family: SFMediumFont;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .calender_icon {
      max-width: 20px;
    }
  }
}
.daterangepicker {
  width: calc(100% - $bodyLeftRightSpace);
}

//Message chat
.message_chat_area {
  padding-right: $bodyRightSpace;
  height: calc(100vh - 270px);
  width: calc(100% + $bodyRightSpace);
  @include customScrollbarInner();
  .client_msg_grid {
    display: grid;
    grid-template-columns: minmax(0, 36px) repeat(1, minmax(0, 1fr));
    align-items: start;
    gap: 20px 16px;
    margin-bottom: 29px;
    &.support_msg_grid {
      .time {
        margin-left: 2px;
        margin-right: 0;
      }
      p {
        color: #141416;
        border-radius: 16px;
        background: #f4f5f6;
      }
    }
    .text_area {
      display: flex;
      flex-direction: column;
      justify-content: end;
      gap: 4px;
    }
    p {
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 12px 16px;
      border-radius: 12px;
      background: #7741fb;
    }
    .time {
      color: #dee0e2;
      font-family: SFSemiBoldFont;
      text-align: right;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      margin-right: 2px;
    }
  }
  .support_user {
    width: 100%;
    height: 36px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}

//Message send section
.msg_send_area {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr)) minmax(0, 56px);
  align-items: center;
  gap: 20px 16px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -$bodyLeftSpace;
    width: calc(100% + $bodyLeftRightSpace);
    height: 1px;
    background-color: #ededed;
  }
  ::placeholder {
    color: #a8a8a8 !important;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .type_area {
    position: relative;
    .input_field {
      font-size: 16px !important;
      padding: 12px 16px;
      padding-right: 36px;
      border-radius: 16px;
      height: 56px;
      width: 100%;
      border: none !important;
      background: #f6f6f6;
      @include customScrollbarInner();
    }
    .file_select_btn {
      position: absolute;
      top: 16px;
      right: 16px;
      width: 24px;
    }
  }
  .send_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 56px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #7741fb;
  }
}

//Report form checkbox
.check_input_area {
  .form-check {
    display: grid;
    grid-template-columns: minmax(0, 18px) repeat(1, minmax(0, 1fr));
    align-items: start;
    gap: 12px;
    padding: 0;
    margin-bottom: 16px;
  }
  .form-check-input {
    margin-top: 4px;
  }
  .label {
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

//Search form
.search_form_area {
  position: relative;
  ::placeholder {
    color: rgba(60, 60, 67, 0.6) !important;
    font-size: 17px !important;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.43px !important;
  }
  .input_filed {
    width: 100%;
    height: 51px;
    border-radius: 10px;
    border: none;
    padding: 10px 11px;
    padding-left: 38px;
    background: rgba(120, 120, 128, 0.12);
  }
  .search_btn {
    position: absolute;
    top: 11px;
    left: 11px;
  }
}

//Mail invite area
.mail_invite_area {
  h3 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
  }
  .input_gird {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr)) minmax(0, 105px);
    align-items: start;
    gap: 20px 10px;
    height: 56px;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    background-color: white;
    input,
    button {
      height: 100%;
      width: 100%;
    }
    input {
      padding: 0 20px;
      border: none;
      &:focus {
        border: none !important;
      }
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-family: SFMediumFont;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      border-radius: 12px;
      background: #000;
    }
  }
}
