.page_inner_title {
  color: #000;
  font-family: SFBoldFont;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.page_title {
  color: #7741fb;
  font-family: SFBoldFont;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0.4px;
}
.page_inner_para {
  font-family: SFRegularFont;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
